*{
	box-sizing: border-box;
}

body{
   background: url("../images/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header{
	opacity:0.8;

}
#head-nav{
	background-color: #1A1A1A;
	border-radius: 0;
	border: 0;
}
#nav-list{
	padding: 10px;
	padding-left: 20%;
	padding-right:20%;
}
#nav-list li{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	font-color: white;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
}
#nav-list a{
	color:#FFFFFF;
}
#nav-list a:hover{
	color:#AAAAAA;
}
.container div{
	color: black;
}
