*{
	box-sizing: border-box;
}

body{
   background: url("../images/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   
  
}
header{
	opacity:0.8;
}
#head-nav{
	background-color: #1A1A1A;
	border-radius: 0;
	border: 0;
}
#nav-list{
	padding: 10px;
	padding-left: 20%;
	padding-right:20%;
}
#nav-list li{
	padding-left: 15px;
	padding-right: 15px;
	font-size: 15px;
	font-color: white;
	text-transform: uppercase;
	font-family: 'Josefin Slab', serif;
}
#nav-list a{
	color:#FFFFFF;
}
#nav-list a:hover{
	color:#AAAAAA;
}
.container div{
	color: black;
}
#description{
	margin:25px;
}
#profile-img{
	float:left;
	margin:5%;
}
#info1{
	padding-top:6%;
	color:#ffffff;
	font-size: 2em;
	font-family: 'Josefin Slab', serif;
	font-weight: bold;
}
#info2{
	padding:2%;
	padding-right: 5%;
	color:#cc0000;
	font-size: 1.4em;
	font-weight:550;
}
#quote{
	position:absolute;
	top:75%;
	left:50%;
	text-align: center;
	font-size:4em;
	color:#000000;
	font-weight: bold;
}
#phrase{
	position:absolute;
	top:80%;
	left:30%;
	font-size:1.5em;
	font-weight: bold;
	font-family: 'Josefin Slab', serif;
}